name: C++ Qt CI (Ubuntu)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Qt and dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          qt6-base-dev \
          qt6-multimedia-dev \
          cmake \
          ninja-build

    - name: Configure CMake
      run: cmake -S . -B build -G Ninja

    - name: Build
      run: cmake --build build
